{{/*
  Spinner/Loading Component - Catalyst UI Kit Style

  Usage:
    {{template "spinner" (dict "Size" "md")}}
    {{template "spinner-text" (dict "Text" "Loading...")}}

  Parameters:
    - Size: xs, sm, md, lg (default: "md")
    - Color: zinc, blue, white (default: "zinc")
    - Class: Additional CSS classes
*/}}

{{define "spinner"}}
<svg class="{{template "spinner-classes" .}}"
     xmlns="http://www.w3.org/2000/svg"
     fill="none"
     viewBox="0 0 24 24">
  <circle class="opacity-25"
          cx="12" cy="12" r="10"
          stroke="currentColor"
          stroke-width="4"></circle>
  <path class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
</svg>
{{end}}

{{define "spinner-classes"}}
animate-spin

{{/* Size */}}
{{$size := .Size | default "md"}}
{{if eq $size "xs"}}
  size-3
{{else if eq $size "sm"}}
  size-4
{{else if eq $size "lg"}}
  size-8
{{else}}
  size-6
{{end}}

{{/* Color */}}
{{$color := .Color | default "zinc"}}
{{if eq $color "blue"}}
  text-blue-600 dark:text-blue-400
{{else if eq $color "white"}}
  text-white
{{else}}
  text-zinc-950 dark:text-white
{{end}}

{{.Class}}
{{end}}

{{/* Spinner with text label */}}
{{define "spinner-text"}}
<div class="flex items-center gap-3 {{.Class}}">
  {{template "spinner" (dict "Size" (.Size | default "sm") "Color" .Color)}}
  <span class="text-base/6 text-zinc-600 sm:text-sm/6 dark:text-zinc-400">
    {{.Text}}
  </span>
</div>
{{end}}
